.table {
    margin-top: 25px;
}

.table thead {
    text-align: center;
}


.mark-done {
    background-color: rgba(255, 223, 223, 0.938);
    display: inline;
    margin-right: 5px;
}

.marked > .mark-done {
    background-color: rgb(193, 235, 193);
}

.unmarked .mark-done:hover{
    background-color: rgb(48, 173, 32);
}

.mark-done:hover > .icon{
    color: rgb(255, 255, 255);
}

.marked {
    color: rgb(39, 167, 39);
    text-decoration: line-through;
    font-weight: 900;

}

.unmarked {
    color: rgb(207, 88, 88);
}

.rstable tr:hover{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0);
} 