* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

    .wrapper {
        /* margin: 10px; */
    }

    .wrapper .top-navbar {
        width: calc(100% - 0px);
        height: 60px;
        display: flex;
        position: fixed;
        top: 0px;
    }

    .wrapper .top-navbar .top-menu {
        width: calc(100% - 0px);
        background: #fff;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }

    .wrapper .top-navbar .top-menu .logo {
        color: #052755;
        font-size: 20px;
        font-weight: 700;  
        /* padding-left: 35px;  */
        margin-left: 35px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-decoration: none;
    }

    .wrapper .top-navbar .top-menu ul {
        display: flex;
        padding-top: 15px;
    }

    .wrapper .top-navbar .top-menu ul .login {
        margin: 10px 0 0 0;
    }

    .wrapper .top-navbar .top-menu ul li img {
        display: inline-block;
        margin: 10px 10px;
        width: 45px;
        height: 45px;
        line-height: 35px;
        text-align: center;
        border-radius: 50%;
        color: #052755;
        -webkit-transform: rotate(0) scale(1.1);
        transform: rotate(0) scale(1.1);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .wrapper .top-navbar .top-menu ul li img:hover {
        -webkit-transform: rotate(10deg) scale(1.4);
        transform: rotate(10deg) scale(1.1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .wrapper .sidebar {
        position: fixed;
        top: 60px;
        left: 0px;
        background: #283447;
        width: 60px;
        height: 100%;
        overflow-x: hidden;
        white-space: nowrap;
        transition: all 0.3s ease;
    }

    .wrapper .sidebar ul li  {
        margin: 5px 5px 5px 5px;
        margin-left: 10px;
        margin-right: 10px;
        display: block;
        padding: 10px;
        padding-left: 13px;
        position: relative;
        color: #f7f7f7;
    }

    .wrapper .sidebar ul li:before {
        content: "";
        position: relative;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background: #eef2ff;
        display: none;
    }

    .wrapper .sidebar ul li span.icon {
        /* margin-left: 10px; */
        /* margin: 5px 5px 5px 5px; */
        display: inline-block;
        -webkit-touch-callout: none; 
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
    }

    .wrapper .sidebar ul li span.title {
        display: inline-block;
        margin-left: 40px;
        vertical-align: middle;
        font-weight: 500;
        -webkit-touch-callout: none; 
        -webkit-user-select: none; 
        -khtml-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
    }

    .wrapper .sidebar ul li:hover {
        border-radius: 3px;
        background: #ffffff1c;
        color: #fff;
    }

    .wrapper .sidebar ul li.active {
        border-radius: 3px;
        background: #151a24;
        color: rgb(255, 94, 0);
    }


    .wrapper .sidebar ul li:hover:before,
    .wrapper .sidebar ul li.active:before {
        display: block;
    }

    

    @-webkit-keyframes flash {
        0% {
            opacity: .4;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes flash {
        0% {
            opacity: .4;
        }
        100% {
            opacity: 1;
        }
    }