.nav {
    background-color: var(--off-white);
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    height: 60px;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-around;
}

nav div {
    max-width: 900px;
    height: 100%;
}

nav .nav-items{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: ;
    display: flex;
    justify-content: flex-start;
}

nav ul .nav-item {
    color: #333;
    margin-left: 1.5rem;
    margin-top: 1rem;
    flex: auto;
    text-align: center;
}

nav ul li {
    margin-top: 5px;
}

.link { 
    color: black;
}

.link:hover{
    cursor: pointer;
    color: rgb(97, 97, 97);
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(173, 173, 173);
    text-decoration: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.googleLogin {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
}

.googleLogin:hover {
    color: blue;
    opacity: 0.5;
}

#profileImg {
    border-radius: 35px 10px;
    height: 50px;
    margin-right: 30px;
    box-shadow: 0px 0px 5px 0px rgb(175, 175, 175);
}

#profileImg:hover {
    opacity: 0.9;
    background: black;
}